<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.question.mapper.GroupMapper">


    <select id="getGroup" resultType="com.question.domain.GroupVO">
        <![CDATA[select group_code ,group_name, admin_user_code ,NUMBER_OF_PARTICIPANTS ,reg_time,update_time from( select row_number() over (order by group_code desc) as rno, group_code ,group_name, admin_user_code ,NUMBER_OF_PARTICIPANTS,reg_time,update_time from QUIZ_GROUP_TB) as tb1 ]]>
    </select>

    <select id="getGroupRV" resultType="com.question.domain.GroupVO">
        <![CDATA[select group_code ,group_name, admin_user_code ,NUMBER_OF_PARTICIPANTS ,reg_time,update_time from( select row_number() over (order by group_code asc) as rno, group_code ,group_name, admin_user_code ,NUMBER_OF_PARTICIPANTS,reg_time,update_time from QUIZ_GROUP_TB) as tb1 ]]>
    </select>

    <select id="getCate" resultType="com.question.domain.GroupCateVO">
        <![CDATA[select distinct GROUP_CODE, GROUP_CATE, CATE_NAME from QUIZ_CATE_TB,CATEGORY_TB where CATE_CODE=GROUP_CATE]]>
    </select>

    <select id="readGroupCate" resultType="com.question.domain.GroupCateVO">
        <![CDATA[select distinct GROUP_CODE, GROUP_CATE, CATE_NAME from QUIZ_CATE_TB,CATEGORY_TB where GROUP_CODE = #{group_code} and CATE_CODE=GROUP_CATE]]>
    </select>

    <select id="getAdminUser" resultType="String">
        <![CDATA[select distinct name from (select group_name,ADMIN_USER_CODE,name from QUIZ_GROUP_TB,USER_TB where USER_CODE = #{userCode}) as tb1 ]]>
    </select>

    <select id="getMyGroup" resultType="com.question.domain.GroupVO">
        <![CDATA[select * from QUIZ_GROUP_TB where ADMIN_USER_CODE = #{userCode} ]]>
    </select>




</mapper>

